# necissary for exe package
pyinstaller>=6.0.0
pyinstaller-versionfile
pillow
# necissary for wheel building/direct install
setuptools
build
wheel
# optional, linting in VSCode
# pylance
pylint
pytest
pyright
mypy
